# Virtual Environment
venv/

# Compiled Python files
__pycache__/

# Logs
*.log

# Local database files
*.db

# Environment variables
.env
/.env
# IDE-specific files (e.g., PyCharm)
.idea/

# Compiled Python files
*.pyc

# Temporary files
*.swp

# Mac OS system files
.DS_Store

# Windows system files
Thumbs.db
